<div class="col-12 col-lg-6">
  <h3 class="dash-container-heading">My Pokemons</h3>
  <div class="dash-container" id="discover-new" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://freepngimg.com/thumb/pokemon/37475-6-pikachu-transparent-image.png)">
    <div id="discover-new-content">
      <h1>Do You Want to Rent Out Your Pokemon?</h1>
      <div><%= link_to "Add New Pokemon", new_pokemon_path, class: "btn btn-primary"%></div>
    </div>
  </div>
</div>

<div class="col-12 col-lg-6">
  <h3 class="dash-container-heading">My Pokemon Bookings</h3>
  <div class="dash-container" id="discover-new" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://freepngimg.com/thumb/pokemon/37475-6-pikachu-transparent-image.png)">
    <div id="discover-new-content">
      <h1>You Can Find New Pokemons Anywhere</h1>
      <div><%= link_to "Discover", root_path, class: "btn btn-primary"%></div>
    </div>
  </div>
</div>
