<div class="col-12 col-lg-6">
  <div class="my-pokemons">
    <ul class="list-group">
      <% @owned_pokemons.each do |pokemon| %>
      <li class="list-group-item pokemon-card-item">
        <div><%= cl_image_tag pokemon.photo.key, height: 100, width: 100, crop: :fill%></div>
        <div>
          <p><%= link_to pokemon.name, pokemon_path(pokemon) %></p>
          <p><i><%= pokemon.pokemon_class %></i></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-12 col-lg-6">
  <div id="discover-new">
    <h1><%= link_to "Discover new pokemons", root_path %></h1>
  </div>
</div>
