// Specific CSS for your home-page
.background-color {
  background-image: url('https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fGNvbG9yZnVsJTIwYmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60');
  // background-repeat: no-repeat;
  background-position: top;
}

.cards{
  padding: 50px;
}
