// Specific CSS for your home-page
.background-color {
  background-image: url('https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fGNvbG9yZnVsJTIwYmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60');
  // background-repeat: no-repeat;
  background-position: top;
}

.cards{
  padding: 50px;
}

.search-bar .wrapper {
  background-color: #white;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
}

.search-bar input[type=text]{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #white;
}


.button-home{
  border-radius: 5px;
  background-color: #f05454;
  color: white;
  border: none;
  padding: 10px;
}

// footer

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
