// Specific CSS for your home-page
.background-color {
  background-image: url('pokebalbanner4.png');
  // background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;

}

.cards{
  padding: 50px;
}

.search-bar .wrapper {
  background-color: #white;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
}

.search-bar input[type=text]{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #white;
}


.button-home{
  border-radius: 5px;
  background-color: #FBD74A;
  color: white;
  border: none;
  padding: 10px;
}



