<h1 id="dashboard-heading">My Dashboard</h1>

<div class="row">
  <% if (@owned_pokemons.count >= 1 && @bookings.count >= 1) %>
    <%= render 'pages/dashboard_partials/dash-owned-booked', owned_pokemons: @owned_pokemons, owned_pokemons: @owned_pokemons %>

  <% elsif @owned_pokemons.count >= 1 %>
    <%= render 'pages/dashboard_partials/dash_owned', owned_pokemons: @owned_pokemons %>

  <% else %>
    <%= render 'pages/dashboard_partials/dash-booked', owned_pokemons: @owned_pokemons %>

  <% end %>
</div>
