<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Catch them all!</h1>
        <p class="lead mb-0"></p>
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
          <div class="search-form-control form-group d-flex">
              <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Which pokemon are you looking for?" />
              <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Check-in" />
              <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Check-out" />
              <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search"></i> Search
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

<div class="background">
  <div id="cards">
    <figure class="card card--water">
      <div class="card__image-container">
        <img src="https://cdn.bulbagarden.net/upload/thumb/f/fd/134Vaporeon.png/1200px-134Vaporeon.png" alt="Vaporeon" class="card__image">
      </div>

      <figcaption class="card__caption">
        <h1 class="card__name">Vaporeon</h1>

        <h3 class="card__type">
          water
        </h3>

        <table class="card__stats">
          <tbody><tr>
            <th>HP</th>
            <td>130</td>
          </tr>
          <tr>
            <th>Attack</th>
            <td>65</td>
          </tr>

          <tr>
            <th>Defense</th>
            <td>60</td>
          </tr>

          <tr>
            <th>Special Attack</th>
            <td>110</td>
          </tr>
          <tr>
            <th>Special Defense</th>
            <td>95</td>
          </tr>
          <tr>
            <th>Speed</th>
            <td>65</td>
          </tr>
        </tbody></table>

        <div class="card__abilities">
          <h4 class="card__ability">
            <span class="card__label">Ability</span>
            Absorb
          </h4>
          <h4 class="card__ability">
            <span class="card__label">Hidden Ability</span>
            Hydration
          </h4>
        </div>
      </figcaption>
    </figure>

    <figure class="card card--electric">
      <div class="card__image-container">
        <img src="https://cdn.bulbagarden.net/upload/thumb/b/bb/135Jolteon.png/1200px-135Jolteon.png" alt="Jolteon" class="card__image">
      </div>

      <figcaption class="card__caption">
        <h1 class="card__name">Jolteon</h1>

        <h3 class="card__type">
          electric
        </h3>

        <table class="card__stats">
          <tbody><tr>
            <th>HP</th>
            <td>65</td>
          </tr>
          <tr>
            <th>Attack</th>
            <td>65</td>
          </tr>

          <tr>
            <th>Defense</th>
            <td>60</td>
          </tr>

          <tr>
            <th>Special Attack</th>
            <td>110</td>
          </tr>
          <tr>
            <th>Special Defense</th>
            <td>95</td>
          </tr>
          <tr>
            <th>Speed</th>
            <td>130</td>
          </tr>
        </tbody></table>

        <div class="card__abilities">
          <h4 class="card__ability">
            <span class="card__label">Ability</span>
            Volt Absorb
          </h4>
          <h4 class="card__ability">
            <span class="card__label">Hidden Ability</span>
            Quick Feet
          </h4>
        </div>
      </figcaption>
    </figure>

    <figure class="card card--fire">
      <div class="card__image-container">
        <img src="https://cdn.bulbagarden.net/upload/thumb/d/dd/136Flareon.png/1200px-136Flareon.png" alt="Flareon" class="card__image">
      </div>

      <figcaption class="card__caption">
        <h1 class="card__name">Flareon</h1>

        <h3 class="card__type">
          fire
        </h3>

        <table class="card__stats">
          <tbody><tr>
            <th>HP</th>
            <td>65</td>
          </tr>
          <tr>
            <th>Attack</th>
            <td>130</td>
          </tr>

          <tr>
            <th>Defense</th>
            <td>60</td>
          </tr>

          <tr>
            <th>Special Attack</th>
            <td>95</td>
          </tr>
          <tr>
            <th>Special Defense</th>
            <td>110</td>
          </tr>
          <tr>
            <th>Speed</th>
            <td>65</td>
          </tr>
        </tbody></table>

        <div class="card__abilities">
          <h4 class="card__ability">
            <span class="card__label">Ability</span>
            Flash Fire
          </h4>
          <h4 class="card__ability">
            <span class="card__label">Hidden Ability</span>
            Guts
          </h4>
        </div>
      </figcaption>
    </figure>
  </div>
</div>
