.background-new {
  background-image: url("pokebalbanner2.png");
  background-position: center;
  height: 650px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-size: 110%;
}


