.btn-poke {
  border: 0.5px solid black;
  border-radius: 50px;
  background-color: #FBD74A;
  color: black;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  &:hover {
    border: 0.5px solid grey;
    color: grey;
  }
}
