.btn-poke {
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: #FBD74A;
  color: black;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  &:hover {
    border: 0.5px solid white;
    color: white;
  }
}
