// for views/pokemons/index.html.erb

.pokemon-card-item {
  display: flex;
  justify-content: center;
}


// Sing-in card
.background-log{
  background-image: url('pokebalbanner2.png');
  background-position: center;
  height: 600px;
  background-size: 100%;
}


.card-log-in{
  display: inline-block;
  width: 450px;
  padding: 30px;
  border-radius: 15px;
  margin: 85px;
  background: #FFFAFA;
  text-align: left;
  position: relative;
}



// Sing-up card

.background-sign-up{
  background-image: url('pokebalbanner2.png');
  background-position: center;
  height: 900px;
  background-size: 110%;
}

.card-sign-up{
  display: inline-block;
  width: 450px;
  padding: 30px;
  border-radius: 15px;
  margin: 85px;
  //background-image: url('');
  background-color: #FFFAFA;
  background-position: center;
  text-align: left;
  position: relative;
}

.text-log-in{
  opacity: 1;
}


