#dashboard-heading {
  padding-top: 20px;
  padding-bottom: 20px;
}

// structure of all dashboards
.dash-container {
  background-size: cover;
  margin-left: 30px;
  margin-right: 30px;
  border: 0.2px solid grey;
  background-color: lightyellow;
  margin-bottom: 50px;
  height: 100vh
}

// dashboard owned
#discover-new{
  display: flex;
  justify-content: center;
  align-items: center;
  #discover-new-content {
    color: white;
    padding: 15px;
    margin: 0 auto;
  }
}

