.dash-bg {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fGNvbG9yZnVsJTIwYmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
}

// DASH NAV

.dash-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
}

.dash-date {
  text-align: right;
}

.nav-link {
  color: white;
  font-weight: bolder;
  &:hover {
    color: #FBD74A;
    font-weight: bolder;
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black;
    background-color: #FBD74A;
}

// DASH CONTAINER

.dash-container-heading {
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
}

.dash-container {
  background-size: cover;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  padding-bottom: 100px;
}

// MY BOOKINGS

#discover-new{
  display: flex;
  justify-content: center;
  align-items: center;
}

#discover-new-content {
    color: white;
    padding: 15px;
    margin: 0 auto;
  }


// MY POKEMONS
.add-poke-image {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 0 auto;
  padding-left: 25px;
  img {
    width: 400px;
    max-height: none;
  }
}

.relative {
  position: relative;
}


.trash-icon {
  font-size: 30px;
  text-decoration: none;
  color: white;
  opacity: 0.7;
  position: absolute;
  left: 300px;
  &:hover {
    opacity: 1;
  }
}

.edit-btn {
  font-size: 20px;
  position: absolute;
  left: 240px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
