#dashboard-heading {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dash-container {
  background-size: cover;
  margin-left: 30px;
  margin-right: 30px;
  border: 0.2px solid grey;
  background-color: lightyellow;
  margin-bottom: 50px;
  min-height: 100vh;
}

#discover-new{
  display: flex;
  justify-content: center;
  align-items: center;
  #discover-new-content {
    color: white;
    padding: 15px;
    margin: 0 auto;
  }
}

.dash-container-heading {
  padding-bottom: 20px;
}

.trash-icon {
  font-size: 30px;
  text-decoration: none;
  color: white;
  opacity: 0.7;
  position: absolute;
  left: 300px;
  &:hover {
    opacity: 1;
  }
}

.dash-date {
  text-align: right;
  margin-right: 30px;
  margin-top: 30px;
}

.edit-btn {
  font-size: 20px;
  position: absolute;
  left: 240px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
