// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "cards";
@import "pokemoncard";
@import "pokemons_index";
@import "pokemon_show";
@import "pokemon_photo";
@import "dashboard";
@import "map";
@import "container";
@import "map_results_container";
