.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo{
  width: 120px;
  height: 90px;
}

.btn.btn-info{
  border-radius: 10px;
  margin-right: 10px;
  background-color:white;
  border: none;
  color: black;
  font-size: bold;
}
