.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #F4F4F4;
  z-index: 10;
}

.transparant{
  background: none;
}

.logo{
  width: 120px;
  height: 90px;
}

.btn.btn-info{
  border-radius: 10px;
  margin-right: 10px;
  background-color:white;
  border: none;
  color: black;
  font-size: bold;
}
