.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-top: 10px solid #FBD74A;
  background: #F4F4F4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo{
  width: 120px;
  height: 90px;
}

