.card__abilities {
  display: flex;
  justify-content: space-around;
}

.btn-pokemon-new {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-image: url(https://icon-library.com/images/2018/449481_pokeball-maker-s-mark-hd-png-download.png);
  background-position: center;
  background-size: 100px;
  color: rgb(0, 0, 0);
  font-weight: 900;
}
