// for views/pokemons/index.html.erb

#search-results {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

#map {
  background-image: url("https://images.unsplash.com/photo-1591130220469-32af4144d455?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=333&q=80");
  background-size: cover;
  position: sticky;
  height: 500px;
}

.pokemon-card-item {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  border: 0.5px solid grey;
  position: relative;

  .pokemon-card-img {
    padding: 10px;
  }

  .name {
    font-weight: bolder;
  }

  .price {
    position: absolute;
    right: 16px;
    top: -20px;
  }
}
