.card__abilities {
  display: flex;
  justify-content: space-around;
}

.btn-pokemon-new {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-image: url(https://img.icons8.com/plasticine/2x/open-pokeball.png);
  background-position: center;
  background-size: 135px;
  color: rgb(226, 100, 100);
  font-weight: 900;
  font-family: 'Nerko One', cursive;

  &:hover {
    border: 0.5px solid white;
    color: white;
  }
}
