.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.back-btn {
  margin-bottom: 15px !important;
}

.buttons-booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-show {
  background-image: url('pokebalbanner2.png');
  // background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 112%;
}

.main-poke-container {
  height: 600px;
  width: 600px;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  border-radius: 10px;
}

.pokemon-container {
  position: relative;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  height: 600px;
  width: 600px;
  margin-bottom: 20px;
  .pokemon-photo {
    position: absolute;
    top: 32px;
    left: 231px;
  }
  .poke-name {
    position: absolute;
    top: 221px;
    left: 214px;
  }
  .poke-class {
    position: absolute;
    top: 500px;
    left: 236px;
    font-size: 25px;
    .show-icon-class {
      color: #FBD74A;
      font-size: 30px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
  }
  .poke-description {
    position: absolute;
    top: 342px;
    left: 26px;
    background-color: #9BD056;
    border: 0.2px solid black;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    width: 550px;
    padding: 10px;
    border-radius: 10px;
  }
  .poke-price {
    position: absolute;
    top: 279px;
    left: 188px;
    font-weight: bolder;
    font-size: 30px;
  }
  .poke-address {
    position: absolute;
    top: 460px;
    left: 98px;
    font-size: 25px;
    .show-icon-home {
      color: #5EA634;
      font-size: 30px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
  }
  .poke-owner {
    position: absolute;
    top: 231px;
    left: 390px;
  }
}


.container2 {
  padding: 80px;
  margin: 20px;
}


.btn.btn-danger {
  border-radius: 100px;
  padding: 20px;
  border: 3px solid black;
}

.title-show{
  color: white;
}


// card on show page

.pokemon-photo{
  max-height: 180px;
}
