.background-show {
  background-image: url('pokebalbanner2.png');
  // background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 112%;
}

.container2 {
  padding: 20px;
  margin: 50px;
  background-color: white;
  border-radius: 20px;
}


.btn.btn-danger {
  border-radius: 100px;
  padding: 20px;
  border: 3px solid black;
}

.title-show{
  color: white;
}


// card on show page

.pokemon-photo{
  max-height: 180px;
}
