.background-show{
  background-image: url('https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fGNvbG9yZnVsJTIwYmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60');
  // background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.container2{
  padding: 80px;
  margin: 100px;
  background-color: white;
  border-radius: 20px;
}


.btn.btn-danger {
  border-radius: 100px;
  padding: 20px;
  border: 3px solid black;
}
