
<div class="container">
  <h2 id="search-results">Pokemons in //location//</h2>
  <div class="row">
    <%= @pokemons.each do |pokemon| %>

    <div class="col-12 col-lg-8">
      <div class="pokemon-card-item">
        <div>Photo</div>
        <div class="description">
          <%= link_to pokemon.name, pokemon_path(pokemon) %>
          <%= pokemon.type %>
        </div>
        <div class="price"><%= pokeon.price_per_day %></div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div id="map">
      </div>
    </div>
    <% end %>
  </div>
</div>
