
<div class="container">
  <h2 id="search-results">Pokemons in //location//</h2>
  <div class="row">


    <div class="col-12 col-lg-7">
      <%= @pokemons.each do |pokemon| %>
      <div class="pokemon-card-item">
        <div>Photo</div>
        <div class="description">
          <%= link_to pokemon.name, pokemon_path(pokemon) %>
          <%= pokemon.type %>
        </div>
        <div class="price"><%= pokeon.price_per_day %></div>
      </div>
      <% end %>
    </div>

    <div class="col-12 col-lg-5">
      <div id="map"></div>
    </div>

  </div>

  </div>
</div>
