<div class="sticky-footer">
  <h1> Reviews <%= @pokemon.name %></h1>


  <ul>
    <% @reviews.each do |review| %>

    <li><%= review.content %></li>
    <li><%= review.booking.user.first_name %> <%= review.booking.user.last_name %></li>

    <% end %>
  </ul>
</div>
